#sidebar {
    background: #0d1814;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 18rem;
  }
  .sidebar__title {
    display: flex;
    margin-top: 1.2rem;
    justify-content: center;
    align-items: center;
    color: #cdf7e4;
    margin-bottom: 30px;
    font-family: 'Cedarville Cursive';
    font-size: 32;
    font-weight: 'bold';
    cursor: 'pointer';
  }
  
  .sidebar__title > div > img {
    object-fit: contain;
  }
  
  .sidebar__title > div > h1 {
    font-size: 32px;
    display: inline;
  }
  
  .sidebar__title > i {
    font-size: 18px;
    display: none;
  }
  
  .sidebar__menu > h2 {
    color: #cdf7e4;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
  }
  
  .sidebar__link {
    color: #f3f4f6;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
    font-family: "Raleway";
    cursor: pointer;
  }

  .sidebar__link:hover {
    background: rgba(30, 56, 48, 0.704);
    color: #121212;
  }
  
  .active_menu_link {
    background: rgba(62, 161, 117, 0.3);
    color: #cdf7e4;
  }
  
  .active_menu_link a {
    color: #cdf7e4 !important;
  }
  
  .sidebar__link > a {
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
  }
  
  .sidebar__link > i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .sidebar__logout {
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
    text-align: center;
    cursor: pointer;
  }
  
  .sidebar__logout > a {
    text-decoration: none;
    text-align: center;
    color: #e65061;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .sidebar__logout > i {
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .sidebar_responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
  }
  
  @media only screen and (max-width: 978px) {
    #sidebar {
      display: none;
    }
  
    .sidebar__title > i {
      display: inline;
    }
  }